.galleryImage {
  width: 25%;
  height: 250px;
  object-fit: cover;
  margin-top: 20px;
  cursor: pointer;
}

.galleryImage:nth-child(1) {
  border-radius: 10px 0 0 10px;
}

.galleryImage:nth-child(4) {
  border-radius: 0 10px 10px 0;
}

.galleryImage {
  cursor: pointer;
}

.modal {
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,0.85);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

.fullImage {
  max-width: 90%;
  max-height: 90%;
  border-radius: 8px;
}